*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font: 100%/1.5em Play;
	color: #000;
	font-weight: 300;
}

a{
    color: #636363;
}

a:hover{
    border-bottom: 1px dashed #636363;
    text-decoration: none;
    color: #000;
}

header{
    margin-top: 1%;
    margin-bottom: 1%;
}
header h1, h3{
	text-align: center;
	margin-top: 0.5%;
	margin-bottom: 0.4%;
}

header a:hover{
    border: none;
}

.logo{
    background: url('../images/oxi-06.png') no-repeat center transparent;
    width: 250px;
    height: 131px;
    background-size: contain;
    display: block;
    position: relative;
    text-indent: -9999px;
    margin: 1em auto;   
}

footer{
    margin-top: 1%;
    margin-bottom: 1%;
}

footer .container{
    background: #fff;
}

footer h4{
	text-align: center;
	border: 0px solid #000;
	padding-top: 0.5%;
}

.vidgets{
    width: 176px;
    margin: 0 auto;
    margin-top: 5px;
}

.vidget{
    display: table;
    width: 176px;
    height: 60px;
    background: linear-gradient(to bottom, #fff, #dfdfdf);
    vertical-align: middle;
    margin: 0 auto;
    line-height: 1em;
    border: 1px solid #dfdfdf;
    margin-bottom: 8px;
}

.vidget:hover{
    display: table;
    width: 176px;
    height: 60px;
    background: linear-gradient(to bottom, #dfdfdf, #fff);
    vertical-align: middle;
    margin: 0 auto;
    line-height: 1em;
    border: 1px solid #dfdfdf;
    margin-bottom: 8px;
    box-shadow: 2px 2px 5px #B3B3B3;
}

.vidget span{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    font-family: Comfortaa;
    font-size: 1em;
    font-weight: 500;
}

.vidget a{
    
}

.line-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0;
    padding-left: 3px;
    background: linear-gradient(to bottom, #fff, #dfdfdf);
    border:  1px solid #dfdfdf;
    height: 27px;
    width: 98%;
}

.line-item:hover{
    background: linear-gradient(to bottom, #dfdfdf, #fff);
    color: #000;
    font-weight: 700;
}

.stats{
    display: table;
    margin: 0 auto;
    width: 176px;
    vertical-align: middle;
    bottom: 1px;
    margin-top: 15px;
}

.stat{
    display: table-cell;
    margin: 0 auto;
    width:88px;
}

.stat a:hover{
    border: none;
}

.subtitle h3{
    margin-bottom: 1%;
}

h1{
	font-size: 1.9em;
	font-family: Comfortaa;
	margin-top: 5px;
	margin-bottom: 4px;
}

h2{
	font-size: 1.9em;
	font-family: Poiret One;
}

h3{
	font-size: 1.4em;
	font-family: Poiret One;
}

h4{
	font-size: 1.1em;
	font-family: Poiret One;
}

h5{
	font-size: 1.4em;
	font-family: Comfortaa;
	margin-top: 0;
	margin-bottom: 0;
}

.zag h1{
    text-align: center;
    margin-bottom: 0;
}

.zag hr{
    width: 80%;
    color: grey;
    margin: 0 auto;
}

.grid-item3 li a{
    text-decoration: none;
}

.active li{
    list-style-type: none;
}

.grid{
    display: grid;
    max-width: 1360px;
    margin: 0 auto;
    grid-gap: 5px;
}

.grid hr{
    width: 60%;
    color: grey;
    margin: 0 auto;
}

.grid-item{
    
}

.grid-1{
    grid-template-columns: repeat(4, minmax(170px, auto));
    grid-template-rows: repeat(3, auto);
}

.grid-1 .grid-content{
    background: #F8F8F8;
    box-shadow: 6px 6px 20px #B3B3B3;
}

.grid-1 .grid-item1{
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}

.grid-1 .grid-item2{
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    justify-content: start;
    background: #F8F8F8;
    box-shadow: 6px 6px 20px #B3B3B3;
    padding-bottom: 3%;
    height: 82hv;
}

.grid-1 .grid-item3{
    grid-column: 4 / 5;
    grid-row: 2 / 2;
    justify-content: end;
    max-width: 250px;
    background: #F8F8F8;
    box-shadow: 6px 6px 20px #B3B3B3;
    text-align: center;
    padding-bottom: 3.5%;
    padding-top: 2%;
    height: 82hv;
}

.grid-1 .grid-item4{
    grid-column: 1 / 5;
    grid-row: 3 / 3;
}

.grid-item3 ul li{
    text-decoration: none;
    text-align: left;
    margin-left: 2.5%;
    list-style-type: none;
}

.grid-item3 a{
    color: #000;
    text-decoration: none;
}

.grid-item3 a:hover{
    border-bottom: 1px dashed #636363;
    text-decoration: none;
    color: #636363;
}

.active a{
	color: #949494;
	text-decoration: none;
    font-weight: 700;
}

.active a:hover{
	color: #000;
	text-decoration: none;
    border-style: none;
}

.grid-2{
    grid-template-columns: repeat(3, minmax(100px, auto));
    text-align: center;
}

.grid-2 p{
    line-height: 1em;
}

.grid-2 .grid-item{
    margin-top: 25px;
    margin-bottom: 35px;
}

.grid-2 .grid-item8{
    grid-column: 1 / 2;
}

.grid-2 .grid-item9{
    grid-column: 2 / 4;
}

.grid-2 .grid-item10{
    grid-column: 1 / 4;
    text-align: left;
}

.grid-2 .grid-item10 h5{
    text-align: center;
}

.grid-2 .grid-item10 ul{
    margin: 20px 10px;
    padding: 0;
}

.grid-2 .grid-item10 li{
    list-style-type: circle;
    padding: 10px  0;
}

.grid-3{
    grid-template-columns: repeat(4, minmax(100px, auto));
    text-align: center;
}

.grid-3 .grid-item{
    margin-top: 5px;
}

.grid-3 .grid-item10{
    grid-column: 1 / 3;
}

.grid-3 .grid-item11{
    grid-column: 3 / 5;
}

.grid-3 .grid-item12{
    grid-column: 1 / 3;
}

.grid-3 .grid-item13{
    grid-column: 3 / 5;
}

.grid-1 .grid-item14{
    
}

.error{
    grid-column: 1 / 5;
    text-align: center;
    line-height: 2.5em;
    margin: 0 5px;
    background: linear-gradient(135deg, rgba(255,0,0,1) 0%,rgba(255,0,0,0) 22%,rgba(255,0,0,0) 81%,rgba(255,0,0,1) 100%);
}

.grid-3 ul{
    margin-bottom: 2.5%;
}

.datas{
    font-weight: 700;
    line-height: 1em;
}

.text{
}

.social{
    margin-top: 3%;
    margin-left: 5%;
    line-height: 1.5em;
}

.social ul li{
    text-align: left;
    list-style-type: none;
}

.social a{
    border: none;
}

.social .fa{
    margin-right: 5px;
}

.social span{
    font-size: 0.85em;
}

.map{
    margin-top: 0.5%;
}

.cls{
    margin: 0.1em 1px;
}

.attention2{
    text-align: center;
    padding: 0.5em 1.3em;
}

.attention{
    text-align: left;
}

.attention2 span{
    color: #ff0000;
    font-weight: bold;
}

.attention span{
    color: #ff0000;
    font-weight: bold;
}

.grid-3 p{
    line-height: 1em;
    font-size: 10pt;
    color: #adadad;
    font-style: italic;
}

.gia{
    line-height: 1.5em;
    text-align: left;
    margin-left: 25px;
}

.gia p{
    font: inherit;
    color: inherit;
}

.gia span{
    font-weight: bold;
}

.link{
	font-size: 0.95em;
	font-weight: bold;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}
 .wrapper input{
    display: none;
}

.wrapper input[id="tab-1"]:checked ~ .content .tab-1,
.wrapper input[id="tab-2"]:checked ~ .content .tab-2,
.wrapper input[id="tab-3"]:checked ~ .content .tab-3{
    display: block;
    height: 68vh;
}

.wrapper input:checked + label{
    background: linear-gradient(to bottom, #fff, #dfdfdf);
    border: 1px solid #dfdfdf;
    box-shadow: none;
    color: #000;
}

.wrapper label{
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    background-color: #F8F8F8;
    box-shadow: 2px 2px 5px #B3B3B3;
    color: #000;
}

.wrapper label:hover{
    background: linear-gradient(to bottom, #dfdfdf, #F8F8F8);
    color: #636363;
}


.content{
    position: relative;
}
.content article{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F8F8F8;
    padding: 10px 25px;
    border-top: 5px solid #dfdfdf;
    display: none;
}

.begin{
    display: flex;
    width: 100%;
    height: 68vh;
}

.begin .txt{
    font-family: Comfortaa;
    font-size: 3rem;
    margin: auto;
}

.begin .txt2{
    margin-top: 20px;
    font-family: Poiret One;
    font-size: 1.5rem;
    text-align: center;
}

blockquote{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 15px;    
    padding-left: 2px;
    font-style: italic;
    color: #4D4D4D;
    font-size: 0.9em;
    line-height: 1.25em;
    text-align: justify;
    border-left: 3px solid #808080;
}

.awards ul{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.awards ul li{
    list-style-type: square;
    margin: 0 60px;
    font-size: 13px;
}

@media (max-width: 1210px) {
    .wrapper{
        min-height: 530px;
    }
    
    .grid-1{
        grid-template-columns: repeat(4, minmax(170px, auto));
        grid-template-rows: repeat(4, auto);
    }
    
    .grid-1 .grid-item1{
        grid-column: 1 / 5;
        grid-row: 1 / 1;
    }

    .grid-1 .grid-item2{
        grid-column: 1 / 5;
        grid-row: 2 / 2;
        justify-content: start;
        background: #F8F8F8;
        box-shadow: 6px 6px 20px #B3B3B3;
        margin-bottom: 8px;
        padding-bottom: 45px;
    }

    .grid-1 .grid-item3{
        grid-column: 1 / 5;
        grid-row: 3 / 3;
        text-align: center;
    }

    .grid-1 .grid-item4{
        grid-column: 1 / 5;
        grid-row: 4 / 4;
    }
    
    .grid-1 .grid-item3{
        max-width: 100%;
    }
    
    .wrapper label{
        display: flex;
        justify-content: space-around;
    }
    
    .wrapper input[id="tab-1"]:checked ~ .content .tab-1,
    .wrapper input[id="tab-2"]:checked ~ .content .tab-2,
    .wrapper input[id="tab-3"]:checked ~ .content .tab-3,
    .wrapper input[id="tab-4"]:checked ~ .content .tab-4{
        height: 125vh;
    }
    
    .begin{
        height: 125vh;
    }

}

@media (max-width: 748px) {
    .wrapper{
        min-height: 650px;
    }
    
    .grid-1 .grid-item2{
        margin-bottom: 8px;
        padding-bottom: 3px;
    }
    
    .grid-2{
        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-template-rows: repeat(2, auto);
        text-align: center;
    }
    .grid-2 .grid-item5{
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .grid-2 .grid-item6{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        justify-content: end;
    }

    .grid-2 .grid-item7{
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        text-align: center;
    }
    
    .wrapper input[id="tab-1"]:checked ~ .content .tab-1,
    .wrapper input[id="tab-2"]:checked ~ .content .tab-2,
    .wrapper input[id="tab-3"]:checked ~ .content .tab-3,
    .wrapper input[id="tab-4"]:checked ~ .content .tab-4{
        height: 140vh;
    }
    
    .begin{
        height: 140vh;
    }
}

@media (max-width: 615px) {
    .wrapper{
        min-height: 550px;
    }
    
    .grid{
        display: block;
        margin: 1px;
    }
    
    .wrapper input[id="tab-1"]:checked ~ .content .tab-1,
    .wrapper input[id="tab-2"]:checked ~ .content .tab-2,
    .wrapper input[id="tab-3"]:checked ~ .content .tab-3,
    .wrapper input[id="tab-4"]:checked ~ .content .tab-4{
        height: 175vh;
    }
    
    .begin{
        height: 175vh;
    }
    
    .begin .txt{
        margin: auto;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 700;
    }
    
    .begin .txt2{
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    }
}

@media (max-width: 289px) {
    .wrapper{
        min-height: 750px;
    }
    .wrapper input[id="tab-1"]:checked ~ .content .tab-1,
    .wrapper input[id="tab-2"]:checked ~ .content .tab-2,
    .wrapper input[id="tab-3"]:checked ~ .content .tab-3,
    .wrapper input[id="tab-4"]:checked ~ .content .tab-4{
        height: 150vh;
    }
    
    .begin{
        height: 150vh;
    }
    
    h1{
        font-size: 0.9em;
        font-family: Comfortaa;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    h2{
        font-size: 0.9em;
        font-family: Poiret One;
    }

    h3{
        font-size: 0.9em;
        font-family: Poiret One;
    }

    h4{
        font-size: 1.1em;
        font-family: Poiret One;
    }

    h5{
        font-size: 0.9em;
        font-family: Comfortaa;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .datas{
        line-height: 1.9em;
    }
    
    .text{
        font-size: 0.8em;
        line-height: 1em;
    }
    
    .begin .txt{
        margin: auto;
        text-align: center;
        font-size: 1.8rem;
    }

}

@media (max-width: 200px) {
    .wrapper{
        min-height: 50vh;
    }
    
    .wrapper input[id="tab-1"]:checked ~ .content .tab-1,
    .wrapper input[id="tab-2"]:checked ~ .content .tab-2,
    .wrapper input[id="tab-3"]:checked ~ .content .tab-3,
    .wrapper input[id="tab-4"]:checked ~ .content .tab-4{
        height: 150vh;
    }
    
    .begin{
        height: 150vh;
    }

}